<!-- Navigation bar using Bootstrap classes for styling and responsiveness -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <!-- Brand name linking to the homepage -->
    <a class="navbar-brand" href="/">Shariq Abdul-Wahid</a>

    <!-- Toggler button for collapsing navbar on smaller screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content: navigation links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> <!-- Aligns nav items to the right -->

        <!-- Home link: highlights as active if current page is 'Home Page' -->
        <li class="nav-item">
          <% if (title == "Home Page"){ %>
            <a class="nav-link active" aria-current="page" href="/home">
              <i class="fa-solid fa-lg fa-house"></i>Home
            </a>
          <%} else { %>
            <a class="nav-link" aria-current="page" href="/home">
              <i class="fa-solid fa-lg fa-house"></i>Home
            </a>
          <% } %>
        </li>

        <!-- About link: highlights as active if current page is 'About' -->
        <li class="nav-item">
          <% if (title == "About"){ %>
            <a class="nav-link active" aria-current="page" href="about">
              <i class="fa-solid fa-lg fa-circle-info"></i>About
            </a>
          <%} else { %>
            <a class="nav-link" aria-current="page" href="about">
              <i class="fa-solid fa-lg fa-circle-info"></i>About
            </a>
          <% } %>
        </li>

        <!-- Projects link: highlights as active if current page is 'Projects' -->
        <li class="nav-item">
          <% if (title == "Projects"){ %>
            <a class="nav-link active" aria-current="page" href="/projects">
              <i class="fa-brands fa-lg fa-elementor"></i>Projects
            </a>
          <%} else { %>
            <a class="nav-link" aria-current="page" href="/projects">
              <i class="fa-brands fa-lg fa-elementor"></i>Projects
            </a>
          <% } %>
        </li>

        <!-- Contact Me link: highlights as active if current page is 'Contact Me' -->
        <li class="nav-item">
          <% if (title == "Contact Me"){ %>
            <a class="nav-link active" aria-current="page" href="/Contactme">
              <i class="fa-solid fa-lg fa-phone"></i>Contact Me
            </a>
          <%} else { %>
            <a class="nav-link" aria-current="page" href="/Contactme">
              <i class="fa-solid fa-lg fa-phone"></i>Contact Me
            </a>
          <% } %>
        </li>

      </ul>
    </div>
  </div>
</nav>
