<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark flex-column align-items-center py-2">
        <!-- Social Icons Row -->
        <div class="d-flex justify-content-center mb-2">
            <a href="www.linkedin.com/in/shariq-abdul-wahid-308096195" target="_blank" class="text-light me-3">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
            <a href="https://github.com/shariqabdulwahid-stack" target="_blank" class="text-light">
                <i class="fab fa-github fa-lg"></i>
            </a>
        </div>

        <!-- Copyright -->
        <span class="navbar-text text-light small">&copy; Copyright 2025. All rights reserved</span>
    </nav>
    <script src="/Script/app.js"></script>
</footer>
</body>
</html>